@import "tailwindcss";

@theme {
  --color-primary: hsl(230, 70%, 55%);
  --color-background: #1f1f23;
  --color-background-secondary: hsl(245deg 5% 16%);
  --color-text: white;
  --color-text-secondary: rgba(255, 255, 255, 0.5);
  --color-pink-500: #bb5d90;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Helvetica Neue,
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--color-background);
  color: var(--color-text);
}
